@import url(../../node_modules/prism-themes/themes/prism-vs.min.css) screen;
@import "../../node_modules/prism-themes/themes/prism-vsc-dark-plus.min.css" screen and (prefers-color-scheme: dark);

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
}

a {
	color: black;
	transition: transform 0.2s;
}

h1 {
	margin: 0 0 0 0;
}

h2 {
	margin: 0 0 0.2em 0;
}

p {
	margin: 0 0 0.5em 0;
	font-size: 1.2em;
	line-height: 130%;
}