@import url("../../node_modules/prism-themes/themes/prism-vs.min.css") screen;
@import url("../../node_modules/prism-themes/themes/prism-vsc-dark-plus.min.css") screen and (prefers-color-scheme: dark);

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background-color: #afafaf;
	font-size: 1.1em;
}

* {
	box-sizing: border-box;
}

a {
	color: black;
	transition: transform 0.2s;
}

a[target="_blank"]::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
}

h1 {
	margin: 0 0 0 0;
	text-align: center;
}

h2 {
	margin-top: 0.6em;
	margin-bottom: 0.25em;
}

p {
	margin: 0 0 0.5em 0;
	line-height: 130%;
}

blockquote {
	border-left: 5px solid rgba(0, 255, 255, 0.55);
	padding: 0.5em 0.75em;
	margin-left: 1em;
}

blockquote *:first-child {
	margin-top: 0;
}
blockquote *:last-child {
	margin-bottom: 0;
}

hr {
	width: 80%;
	margin: 1.5em auto;
}